*{box-sizing: border-box;}
body{ margin: 0; padding: 0; background-image: url('../assets/bg.jpg'); background-size: cover;}
.app{ padding: 40px 0; text-align: center; font-family: 'Roboto', sans-serif;}