.char{ display: inline-block; width: 52px; height: 52px; padding: 16px; margin: 16px; text-align: center; background: rgba(120, 179, 255, 0.1); border: 3px solid rgba(132, 194, 255, 0.60); border-radius: 10px; color: #37829a; cursor: pointer; transition: .3s all linear;
  &:hover{ background: rgba(255, 0, 0, 0.3); border: 3px solid rgba(212, 57, 57, 0.3); color: #bf1616; transition: .3s all linear;}
}