.insert_text{ font-family: 'Roboto', sans-serif; background: transparent; border: 3px solid rgba(255, 255, 255, 0.31); border-radius: 10px; padding: 6px 8px; font-size: 18px; color: #333;
  &:focus{ outline: none;}
}